// Place all the styles related to the texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  height: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-shadow: 1px 1px 5px black;
}

/* Kelly is sad */
body.texts.new {
  background-image: url("http://i.imgur.com/l6MN8Ef.gif");
}

/* Screech doh! */
body.texts.create {
  background-image: url("http://i.imgur.com/4UWOxbT.gif");
}

/* Kelly kisses Zack */
body.texts.show {
  background-image: url("http://i.imgur.com/K9XUqbD.gif");
}

/* Zack on phone */
body.texts.index {
  background-image: url("http://i.imgur.com/FBUswXb.jpg");
}

.mobile .content {
  position: absolute;
  bottom: 20px;
  padding-right: 65px;
  padding-left: 0;
}

.alert > p {
  margin-right: 27px;
}
